# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual Environments

venv/
env/
ENV/
.venv/
airflow-env/

# Python Build Artifacts

build/
dist/
*.egg-info/
.eggs/

# Testing & Coverage

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter

.ipynb_checkpoints/

# =========================

# Environment Variables

# =========================

.env
.env.*
!.env.example

# =========================

# Logs

# =========================

logs/
*.log

# =========================

# Airflow

# =========================

# Airflow
api-data-ingestion/airflow/logs/
api-data-ingestion/airflow/*.db
api-data-ingestion/airflow/webserver_config.py
api-data-ingestion/airflow/simple_auth_manager_passwords.json*
api-data-ingestion/airflow/*.pid

# Generic logs
logs/
*.log

airflow/logs/
airflow/plugins/**pycache**/
airflow/airflow.db
airflow/webserver_config.py
airflow/simple_auth_manager_passwords.json*

# Airflow PID files

airflow/*.pid

# =========================

# Databases

# =========================

*.db
*.sqlite
*.sqlite3

# =========================

# Docker

# =========================

docker-compose.override.yml

# =========================

# Temporary & Backup Files

# =========================

*.tmp
*.bak
*~
*.swp
*.swo

# =========================

# VS Code / IDE

# =========================

.vscode/
.idea/

# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================

# Database Files

# =========================

*.sqlite
*.db

# =========================

# WSL / Linux Temp Files

# =========================

*.swp
*.swo
*~

# =========================

# Node.js (future-proof)

# =========================

node_modules/

# =========================

# Terraform (future-proof)

# =========================

.terraform/
*.tfstate
*.tfstate.*

# =========================

# Miscellaneous

# =========================

tmp/
temp/
cache/
/fipsar-internship.git